# API
## For secure cookie on server with SSL/TLS
API_SECURE=False
API_MINECRAFT_PATH=/minecraft-server-api

# Database
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Auth
AUTH_SECRET_KEY=
AUTH_ALGORITHM="HS256"  
AUTH_ACCESS_TOKEN_LIFETIME=15m
AUTH_REFRESH_TOKEN_LIFETIME=30d
AUTH_GAME_ACCESS_TOKEN_LIFETIME=1d
AUTH_GAME_REFRESH_TOKEN_LIFETIME=30d
AUTH_GAME_JOIN_TTL=60s

# Minio
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
## Turn on with *remote* MinIO endpoint with SSL/TLS
MINIO_SECURE=False
## To generate external links
MINIO_PUBLIC_URL=http://localhost:9000

# HTTP Client
HTTP_CLIENT_USER_AGENT="FastAPI backend"
HTTP_CLIENT_TIMEOUT=10
HTTP_CLIENT_MAX_CONNECTIONS=20
HTTP_CLIENT_MAX_KEEPALIVE_CONNECTIONS=10

# smtp
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USERNAME=mail@example.ru
SMTP_PASSWORD=
SMTP_FROM_EMAIL=mail@example.ru
SMTP_FROM_NAME=AiNoCraft
SMTP_USE_TLS=True
SMTP_TIMEOUT=10
SMTP_TEMPLATE_DIR="backend/smtp/templates"
SMTP_KEEP_ALIVE_INTERVAL=120
SMTP_POOL_SIZE=2
SMTP_NOOP_TIMEOUT=10
SMTP_MAX_RETRIES=3